html {
    scroll-behavior: smooth;
}

body {
    background-color: #212121;
}

header {
    width: 100%;
    overflow: hidden;
    position: relative;
}

nav {
    width: 100%;
    overflow: hidden;
    position: relative;
}

nav .container {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}



.container {
    position: relative;
    z-index: 5;
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
}

.logo {
    width: 50px;
    display: flex;
    align-items: center;
}

.links a {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: #135CC5;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
  }
  
  .links a.active {
    background-color: #135CC5;
    color: #212121;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;
  }
  
  .links a:hover {
    color: #135CC5;
  }
  
  .links a.active:hover {
    color: #212121;
    background-color: #135CC5;
  }