@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background-color: #135CC5;
}

header {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.container {
    position: relative;
    z-index: 5;
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
}

.logo {
    width: 80px;
    display: flex;
    align-items: center;
}